:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.4);
    --our-team-bg-color: #F5F4FA;
    --bg-color: #E5E5E5;
}

body {
    background-color: var(--white-text-color);
    color: #757575;
}

.logo-web {
    color: var(--accent-color);
}

.logo {
    color: var(--secondary-text-color);
}
.logo:hover, .logo:focus {
    color: var(--accent-color) 
}

.list {
list-style: none;
}
.site-nav .link {
    color: var(--secondary-text-color);
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color) ;
}
.site-nav .link.current {
    color: var(--accent-color)
}
.list-link {
    color: var(--primary-text-color);
}
.list-link:hover, .list-link:focus {
    color: var(--accent-color) ;
}
.section-hero {
color: var(--white-text-color);
}
.button {
    color: var(--white-text-color);
    }
.section-title {
    color: var(--secondary-text-color);
}
.footer-link {
    color:rgba(255, 255, 255, 0.4) ;
}
.button {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-size: 24px;
    padding: 12px;
    display: inline-block;
    border-color: 1px transparent;
    text-decoration: none;
}
.button:hover, button:focus {
    color: var(--secondary-text-color);
    background-color: var(--white-text-color);
}
.portfolio-button{
    color: var(--secondary-text-color);
    background-color: var(--our-team-bg-color);
}
.portfolio-button:hover, .portfolio-button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}