:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.4);
    --our-team-bg-color: #F5F4FA;
    --bg-color: #E5E5E5;
}

body {
    background-color: var(--white-text-color);
    color: #757575;
    font-family: Roboto, sans-serif;
}

.logo-web {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height:1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.logo-studio{
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height:1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.logo {
    color: var(--secondary-text-color);
    font-family: Raleway, sans-serif;
}
.logo:hover, .logo:focus {
    color: var(--accent-color) 
}

.list {
    list-style: none;
    
}
.site-nav .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color) ;
}
.site-nav .link.current {
    color: var(--accent-color)
}
.list-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.list-link:hover, .list-link:focus {
    color: var(--accent-color) ;
}
.link {
    text-decoration: none;
}
.section-hero {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-hero-variants{
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.button {
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    }
.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-title-hero{
    color: var(--secondary-text-color)
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-title-team{
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}
.team-job{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}
.list-information{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
.footer-adress{
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-tittle{
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
.footer-link {
    color:rgba(255, 255, 255, 0.6) ;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
.footer-end{
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.03em;

}
.button {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-size: 24px;
    padding: 12px;
    display: inline-block;
    border-color: 1px transparent;
    text-decoration: none;
}
.button:hover, button:focus {
    color: var(--secondary-text-color);
    background-color: var(--white-text-color);
}

/* Портфолио */

.portfolio-button{
    color: var(--secondary-text-color);
    background-color: var(--our-team-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;

padding: 7px 2px;    
}
.portfolio-button:hover, .portfolio-button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
.portfolio-name{
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}
.portfolio-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
}
.portfolio-discription{
    color: var(--white-text-color);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
}